.letter {
  border: 3px solid gray;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 5rem;
  margin: 0 .5rem;
  background: transparent;
}

.letter.notpresent {
  background: lightgray;
}

.letter.incorrectposition{
  background: yellow;
}

.letter.correctposition {
  background: lightgreen;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: .3rem;
}